.room-password-setting-block{

    input{
        margin-bottom: 1em;
        width: 100%;
        padding-right: 4em;
    }

    button.btn-switch-menu.fly{
        display: block;
        top: 22px;
        right: 22px;
        height: 30px;
        width: 30px;

        div{
            div{
                svg{
                    width: 13px;
                    height: 13px;
                }
            }
        }
    } 
}