.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: var(--background-modal);
    // backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: .8s;

    .window {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 2em;
        width: 600px;
        height: 500px;
        background: var(--white-dark-background);
        border-radius: 10px;
        padding: 20px;
        transition: .8s;
        box-sizing: border-box;

        &.little {
            width: 400px;
            height: 200px;
        }

        &.middle {
            width: 600px;
            height: 500px;
        }

        &.large {
            width: 1200px;
            height: 800px;
        }

        &.height-unset {
            height: auto !important;
        }


        .head {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            // background: red;

            p#title {
                margin: 0;
                font-size: 1.5em;
                font-weight: 600;
                margin-left: 10px;
                color: var(--first-text);
                width: 100%;

                &.title-center {
                    text-align: center;
                    font-size: 1.2em;
                }
            }

            .btn-close-modal {
                position: relative;
                margin-right: 10px;
                height: 20px;

                svg {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    fill: var(--second-text);
                    cursor: pointer;
                    transition: .2s;

                    &:hover {
                        fill: var(--first-text);
                    }
                }
            }
        }

        .body {
            position: relative;
            margin: 2em 0 1em 0;
            display: flex;
            width: 100%;
            flex-grow: 2;
            height: 80%;

            #customization {
                position: relative;
                padding: 0px;
                min-width: 0%;
                width: 0%;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                color: var(--first-text);
                background: var(--second-background);
                border-radius: 10px;
                overflow: hidden;
                margin-right: 0px;
                transition: .2s ease-out;

                h3#settings-label {
                    color: var(--first-text);
                    font-weight: 500;
                }

                &.open {
                    min-width: 30%;
                    width: 30%;
                    opacity: 1;
                    visibility: visible;
                    padding: 10px;
                    margin-right: 10px;
                }
            }

            .data-output {
                height: 100%;
                width: 100%;

                :only-child {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
        }

        .footer {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 50px;
            width: 100%;

            .btn-toggle-customs {
                position: absolute;
                left: 0;
                display: flex;
                width: 50px;
                height: 20px;
                background: var(--second-background);
                padding: 10px;
                border-radius: 20px;
                cursor: pointer;
                transition: .4s;
                opacity: .5;

                &:hover {
                    padding: 10px 20px;
                    opacity: 1;
                }

                #arrow {
                    position: relative;
                    margin-left: 10px;
                    margin-right: 10px;
                    transform: rotateZ(180deg);
                    transition: .4s;
                    height: 21px;

                    svg {
                        width: 12px;
                        height: 12px;
                        fill: var(--first-text);
                    }

                    &.open {
                        transform: rotateZ(0deg);
                    }
                }


                #settings {
                    position: relative;
                    height: 21px;

                    svg {
                        height: 20px;
                        width: 20px;
                        fill: var(--first-text);
                    }
                }
            }
        }
    }
}

.animationModal-enter {
    opacity: 0;
    transform: translateY(-100%);

    &.modal .window {
        opacity: 0;
        transform: scale(0);
    }
}

.animationModal-enter-active {
    transition: .8s ease;
    opacity: 1;
    transform: translateY(0);

    &.modal .window {
        opacity: 1;
        transform: scale(1);
    }
}

.animationModal-exit-active {
    transition: .8s ease;
    opacity: 0;
    transform: translateY(-100%);

    &.modal .window {
        opacity: 0;
        transform: scale(0);
    }
}