.image-directory {
    margin-top: .5em;
    user-select: none;

    $self: image-directory;

    &__list-photos {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1em;
        width: 100%;
        overflow: hidden;
        height: 130px;
        transition: .4s;

        .#{$self}__photo-container {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 130px;
            border-radius: 10px;
            overflow: hidden;
            opacity: 1;
            cursor: pointer;
            transition: .4s;

            &:hover {
               opacity: 0.8;
            }
        }

        .#{$self}__set-background {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) rotateY(90deg) scale(0);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            background: rgba(0,0,0,.7);
            cursor: pointer;
            transition: .4s;

            &--active {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%,-50%) rotateY(0deg) scale(1.1);

                .#{$self}__icon {
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }

            .#{$self}__icon {
                opacity: 0;
                visibility: hidden;
                transition: .4s;

                svg {
                    width: 25px;
                    height: 25px;
                    fill:white;
                }
            }
        }
        

        .#{$self}__photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__uncover {
        position: relative;
        width: 100%;
        background: var(--second-background);
        height: 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 1em;
        transition: filter .4s;

        &:hover {
            filter: brightness(90%);
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 50%;
            width: 20px;
            height: 1px;
            background: var(--first-text);
        }

        &::before {
            top: 35%;
            transform: translate(-50%,-35%);
        }

        &::after {
            top: 60%;
            transform: translate(-50%,-60%);
        }
    }
}
