:root{
  
}



@font-face{
  src: url('static/fonts/16068.otf');
  font-family: 'Zing';
  font-weight: bold;
  font-style: italic;
}


@font-face{
  src: url('static/fonts/Thillends.otf');
  font-family: 'Thillends';
  font-weight: bold;
  font-style: italic;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
