:root{
  --basis-blue: #007BFF;
  --basis-red: #DC3545;
  --basis-red-dark: #a53540;
  --basis-green:#53D769;
  --basis-sky:#17A2B8;
  --basis-yellow:#FFC107;
  --basis-white-transparent:rgba(255, 255, 255, 0.05);
  --basis-white-transparent2:rgba(255, 255, 255, 0.1);
  --basis-black-transparent:rgba(0, 0, 0, 0.02);
  --basis-black-transparent2:rgba(0, 0, 0, 0.5);
  --basis-black-transparent3:rgba(0, 0, 0, 0.1);

  --menu-color: #007BFF;

  --first-background:#FFFFFF;
  --second-background:#F4F7F8;
  --third-background:#EFEFEF;
  
  --white-dark-background:#FFFFFF;
  --color-shadow:rgba(0,0,0,0.1);

  --first-text:#3C3F44;
  --second-text:#B1B6BB;
  --third-text:#A7ACB2;
}



@font-face{
  src: url('static/fonts/16068.otf');
  font-family: 'Zing';
  font-weight: bold;
  font-style: italic;
}


@font-face{
  src: url('static/fonts/Thillends.otf');
  font-family: 'Thillends';
  font-weight: bold;
  font-style: italic;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


input[type='file']{
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}