.contextmenu {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    border-radius: 10px;
    background: var(--first-background);
    transform-origin: left bottom;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .05);
    border: 1px solid var(--second-background);
    transition: all .4s, width .2s;

    z-index: 10;

    &.open {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
        visibility: visible;
    }

    &.menu-status {
        left: 20px;
        bottom: 20px;
        top: unset;

        ul {
            li.indicator {
                position: relative;
                padding-left: 35px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 15px;
                    margin-top: 8px;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 2px solid;
                    transition: .2s;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 15px;
                    margin-top: 8px;
                    transform: translate(-50%, -50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    transition: .2s;
                }
            }

            li.indicator.online::before {
                border-color: var(--basis-green);
            }

            li.indicator.sleep::before {
                border-color: var(--basis-yellow);
            }

            li.indicator.breaker::before {
                border-color: var(--basis-red);
            }

            li.indicator.offline::before {
                border-color: var(--first-text);
            }



            li.indicator.online::after {
                background: var(--basis-green);
            }

            li.indicator.sleep::after {
                background: var(--basis-yellow);
            }

            li.indicator.breaker::after {
                background: var(--basis-red);
            }

            li.indicator.offline::after {
                background: var(--first-text);
            }



            li:hover.indicator.online::before {
                background: var(--basis-green);
            }

            li:hover.indicator.sleep::before {
                background: var(--basis-yellow);
            }

            li:hover.indicator.breaker::before {
                background: var(--basis-red);
            }

            li:hover.indicator.offline::before {
                background: var(--second-background);
                border-color: var(--second-background);
            }

            li:hover.indicator.offline::after {
                background: var(--second-background);
                border-color: var(--second-background);
            }
        }
    }

    &.friend-room {
        width: 300px !important;
        transform-origin: left top;

        .input-form {
            margin: 0;
        }

        ul {
            position: relative;
            height: 300px;
            overflow-y: auto;
            margin: 1.5em .5em;
            margin-top: 0;
            padding: 0;

            div.item {

                .wrapper-item p {
                    font-size: 15px !important;
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .empty-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--second-text);
            z-index: 2;
            text-align: center;
            font-size: 14px;
            font-weight: lighter;
            line-height: 150%;
        }

        &.reverse-right-side {
            transform-origin: right top !important;
            left: unset !important;
            right: 50% !important;
        }
    }

    &.action-over-my-friends {
        right: 0;
        top: 0;
        bottom: unset;
        left: unset;
        transform-origin: right top !important;
    }


    ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        overflow-x: hidden;

        hr {
            margin: 5px 0;
            height: .5px;
            border: none;
            background: var(--middle-gray-separator);
        }

        li {
            padding: 10px;
            cursor: pointer;
            transition: .1s;
            color: var(--basis-black-transparent2);
            font-size: 13px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-align: left;
            color:var(--first-text);

            span {
                font-size: 13px;
                margin: 0;
                opacity: 0;
                transition: .4s;
                height: 0;
            }

            &:hover {
                background: #007BFF;
                color: white;
                border-radius: 4px;

                span {
                    height: 60px;
                    opacity: .5;
                    margin: 8px;
                }
            }

            &:active {
                background: var(basis-blue) !important;
            }

            &.danger {
                color: var(--basis-red);

                &:hover {
                    background: var(--basis-red);
                    color: white;
                }

                &:active {
                    background: var(--basis-red-dark);
                }
            }

            &.success {
                color: var(--basis-green);

                &:hover {
                    background: var(--basis-green);
                    color: white;
                }
            }

            &.warning {
                color: var(--basis-yellow);

                &:hover {
                    background: var(--basis-yellow);
                    color: white;
                }
            }
        }
    }
}

.contextmenu_animate-enter {
    transform: scale(0) rotateZ(-40deg) !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.contextmenu_animate-enter-active {
    transform: scale(1) rotateZ(0deg) !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: all .4s;
}

.contextmenu_animate-exit-active {
    transform: scale(0) rotateZ(-40deg) !important;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: all .4s;
}