.verification-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 1.5em;
  transition: 0.4s;
  overflow: hidden;

  .verification-line {
    border-radius: 10px;
    height: 10px;
    background: var(--basis-red);
    width: 50px;
    transition: 0.4s;

    &.middle-progress {
      background: var(--basis-yellow);
      width: 150px;
    }

    &.full-progress {
      background: var(--basis-green);
      width: 250px;
    }
  }

  .verification-label {
    color: var(--second-text);
    transition: 0.4s;
  }
}
