.btn {
    color: var(--second-text);
    background: var(--third-background);
    border: 1px solid var(--first-text);
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s;
    height: 43px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 30px;
    width: 100%;
    font-size: 13px;
    display: block;

    div {
        div {
            svg {
                height: 11px;
                width: 11px;
                fill: var(--first-text);
                transition: .4s;
            }
        }
    }

    &:link {
        text-decoration: none;
        text-align: center;
        line-height: 43px;
    }

    &:disabled {
        filter: brightness(0.9) !important;
        opacity: .5 !important;
        cursor: default !important;
    }

    &:last-child {
        margin: 0;
    }

    &:hover {
        filter: brightness(95%);
        color: var(--first-text);
    }

    &:active {
        filter: brightness(90%);
    }

    &.simple {
        color: var(--first-text) !important;
        background: transparent !important;
        border: 1px solid var(--third-background);

        &:hover {
            background: var(--second-background) !important;
        }
    }

    &.wrapper_transparently-btn {
        font-size: 13px !important;
        transition: .2s !important;
        border-radius: 4px !important;
        padding: 5px 10px !important;
        box-shadow: 0 1px 1px var(--color-shadow) !important;
        text-decoration: none !important;
        // background: transparent;
        background: var(--first-background) !important;
        height: unset;
    }

    &.primary {
        color: white;
        background: var(--basis-blue);
        padding: 0 30px;
        width: min-content;
        filter: brightness(100%) !important;

        &:disabled {
            background: var(--basis-blue);
        }

        &:hover {
            background: #1e8bff;
        }

        &:active {
            background: rgb(29, 117, 211) !important;
        }

        &.half-opacity {
            background: rgba(0, 123, 255, 0.2) !important;
            color: var(--basis-blue);

            &:hover {
                color: white !important;
                background: var(--basis-blue) !important;
            }

            &:active {
                background: rgb(29, 117, 211) !important;
            }
        }

        &.transparently-btn {
            color: var(--basis-blue) !important;
            @extend .wrapper_transparently-btn;

            // &:hover{
            //     background: rgba(0, 123, 255, 0.2);
            // }

            &:active {
                background: var(--basis-blue) !important;
                color: white !important;
            }

            &:disabled {
                filter: brightness(90%) !important;
                color: var(--basis-blue) !important;
            }
        }
    }

    &.danger {
        color: white;
        background: var(--basis-red) !important;
        padding: 0 30px;
        width: min-content;
        filter: brightness(100%) !important;

        &:hover {
            background: #b63c49 !important;
        }

        &:active {
            background: #a53540 !important;
        }

        &.half-opacity {
            background: rgba(220, 53, 70, 0.15) !important;
            color: var(--basis-red);

            &:hover {
                color: white !important;
                background: var(--basis-red) !important;
            }

            &:active {
                background: #a53540 !important;
            }
        }

        &.transparently-btn {
            color: var(--basis-red) !important;
            @extend .wrapper_transparently-btn;

            svg {
                fill: var(--basis-red) !important;
            }

            &:hover {
                color: var(--basis-red) !important;
                background: rgba(220, 53, 70, 0.2) !important;
            }

            &:active {
                background: var(--basis-red) !important;
                color: white !important;

                svg {
                    fill: white !important;
                }
            }
        }
    }

    &.success {
        color: white;
        background: var(--basis-green) !important;
        padding: 0 30px;
        width: min-content;
        filter: brightness(100%) !important;

        &:hover {
            background: #48b65a !important;
        }

        &.half-opacity {
            background: rgba(83, 215, 105, .2) !important;
            color: var(--basis-green);

            &:hover {
                color: white !important;
                background: var(--basis-green) !important;
            }
        }

        &.transparently-btn {
            color: var(--basis-green) !important;
            @extend .wrapper_transparently-btn;

            &:hover {
                color: var(--basis-green) !important;
                background: rgba(83, 215, 105, .2) !important;
            }

            &:active {
                background: var(--basis-green) !important;
                color: white !important;
            }
        }
    }
}

label.btn {
    line-height: 43px;
}