.btn-switch-menu {
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    // margin-bottom: 1.5em;
    width: 60px;
    height: 60px;
    background: var(--basis-white-transparent);
    border-radius: 30%;
    transition: .4s;
    padding: 0;


    &#profile {
        background: transparent !important;
    }


    &.active {
        background: white !important;

        svg {
            path {
                fill: var(--menu-color) !important;
            }
        }
    }

    &.fly {
        background: var(--menu-color) !important;
        // box-shadow: 0 0 10px var(--basis-blue);
        box-shadow: 0 0 10px var(--menu-color-shadow);
        position: absolute;
        right: 10px;
        top: -15px;
        height: 50px;
        width: 50px;
        overflow: hidden;

        &.enlarge-size{
            svg{
                width: 18px;
                height: 18px;
            }
        }

        &:active {
            box-shadow: 0 0 10px var(--menu-color);
        }

        svg {
            width: 16px;
            height: 16px;
        }

        &.circle {
            bottom: -5px;
            right: -5px;
            width: 40px;
            height: 40px;
            top: unset;
            box-shadow: unset;
            border-radius: 50%;
            border: 4px solid var(--white-dark-background);
            overflow: visible !important;

            &:hover {
                background: var(--basis-green) !important;
            }
        }

        &.success-light{
            background: var(--basis-green) !important;
            box-shadow: 0 0 10px #53d7697c;
        }
    }


    &:before {
        content: "";
        display: block;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0 10px 10px 0;
        height: 0;
        width: 4px;
        background: white;
        transition: .4s;
        opacity: 0;
    }

    &:hover {
        background: var(--basis-white-transparent2);
    }

    &:hover::before {
        height: 80%;
        opacity: 1;
    }

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 22px;
        height: 22px;
        fill: white;

    }

    &:last-child {
        margin-bottom: 0;
    }
}

.btn-switch-menu.active.btn-switch-menu::before {
    height: 80% !important;
    opacity: 1 !important;
}

.btn-switch-menu.btn-switch-menu.fly::before {
    height: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
}