.indicator-online {
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
    height: 7px;
    box-shadow: 0 0 0 3px var(--white-dark-background);
    background: #bbb;
    border-radius: 50%;
    transition: .4s;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transform-origin: center center;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius:50%;
        opacity: 0;
        transition: 1s;
        z-index: 10;
    }

    @keyframes pulse2 {
        0%{
            transform: translate(-50%,-50%) scale(1);
            opacity: 0;
        }
        70%{
            transform: translate(-50%,-50%) scale(1);
            opacity: .6;
        }
        100%{
            transform: translate(-50%,-50%) scale(6);
            opacity: 0;
        }
    }

    &.offline {
        background: #bbb;
    }

    &.online {
        background: var(--basis-green);

        &::before {
            animation: pulse2 2s ease 0s;
        }
    }

    &.sleep {
        background: var(--basis-yellow);
    }

    &.not-disturb {
        background: var(--basis-red);
    }
}