.item-room{
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
    padding: 10px;

    &:hover{
        background: var(--third-background);
    }

    &:active{
        opacity: .9;
    }
    

    img{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
    }

    p{
        margin-left: 10px !important;
        margin: 0;
        color:var(--first-text);
    }
    
}   