.item-room{
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    margin-top: 10px;
    padding: 10px;

    &:hover{
        // background: var(--third-background);
    }

    &:active{
        background: var(--third-background);
    }
    

    img{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
    }

    p{
        margin-left: 10px !important;
        margin: 0;
        color:var(--first-text);
    }

    .dots{
        position: relative;
        margin-left: auto;
        height: 20px;
        cursor: pointer;

        &:hover{
            svg{
                fill:var(--first-text);
            }
        }

        div{
            height: 0;
        }
        
        svg{
            height: 20px;
            width: 25px;
            fill:var(--third-text);
            transition: .4s;
        }
    }
    
}   