.loader {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--basis-blue);
    border-top-color: rgba(0, 123, 255, 0.2);
    border-bottom-color: rgba(0, 123, 255, 0.2);
    border-radius: 50%;
    animation: rotateZ 1s infinite forwards linear;
    transition: .4s;
}

@keyframes rotateZ {

    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}