.authInput{
    position: relative;
    margin: 1.5em 0;
    width: 100%;

    label{
        position: absolute;
        color:var(--first-text);
        left: 25px;
        top: -15px;
        background: var(--first-background);
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 12px;
        z-index: 2;
    }

    input{
        border:none;
        outline: none;
        padding: 15px 30px;
        background-color: var(--third-background);
        border-radius: 10px;
        width: 300px;
        color:var(--first-text);

        &:disabled{
            filter: brightness(0.9) !important;
            opacity: .5 !important;
            cursor: default !important;
        }
    }

    .icon-input{
        width: 20px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        fill:var(--third-text);
        cursor: pointer;
        transition: .4s;
        padding: 5px;
        border-radius: 50%;
        opacity: .5;

        &:hover{
            background: rgba(0,0,0,.1);
            opacity: 1;
        }

        div{
            line-height: 0;
        }
    }
}

